<h1>General Kenobi</h1>
<emph>arm swinging</emph>
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣶⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⣶⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⠀⢇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣀⣻⣳⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡿⠀⠸⡀⠀⠀⠀⠀⠀⠀⢀⡤⠚⠉⠀⠀⣀⠤⠾⠟⠲⢤⡀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡇⠀⠀⢣⠀⠀⠀⠀⡤⡶⠡⠃⠀⢀⡴⠋⠀⠀⠀⠀⠀⠀⠈⠲⣄⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⠀⠀⠀⠘⡄⠀⢀⢎⠴⠗⠒⠒⢤⣎⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢳⡀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠇⢀⡀⠀⠀⢱⣠⣾⡷⠮⢍⡉⠑⠺⡈⢣⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⡀⠀⠀⠀
⠀⠀⠀⢀⣠⣴⢲⠖⠒⠒⠒⠒⠦⣤⠎⠀⠙⢿⢄⠀⠀⢿⠋⠉⠉⠑⠮⡑⣄⠘⣆⠱⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢱⡀⠀⠀
⠀⡠⠔⠋⠀⢈⣾⣿⣿⣿⣿⣿⣷⡏⠀⠀⠀⠀⠙⠀⣠⠜⠋⠓⠲⢄⠀⠙⣌⢧⠈⢆⢧⠀⠀⠀⠀⠀⠀⡆⠀⠀⠀⢠⣇⠀⠀
⡏⠀⠀⠀⣠⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⣸⠃⠀⠀⠀⠀⠀⢳⠀⠘⡎⣇⠸⣼⠀⠀⠀⠀⠀⢠⡇⠀⠀⠀⠘⣾⠀⠀
⡇⠀⢀⣼⣿⣿⣿⣿⣿⣿⣿⠟⣿⣿⣧⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠈⡇⠀⢸⢸⠀⣿⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⣿⠀⠀
⠁⢠⣾⣿⣿⣿⣿⣿⡿⢹⡟⢸⣿⡇⣿⣇⠈⠉⠳⢸⡄⠀⠀⠀⠀⠀⠀⡇⠀⢸⢸⠀⡿⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⣿⠀⠀
⣢⣿⣿⣿⣿⣿⢸⣿⠁⣿⡇⢸⣿⡇⣿⣿⣆⠀⠀⠀⠳⣄⠀⠀⠀⠀⢀⡇⠀⢸⢸⠞⠁⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⣿⠀⠀
⣿⣿⣿⠇⣿⣿⢸⣿⡄⢻⣿⡘⣿⣇⢻⣿⣿⣆⠀⠀⠀⢨⠛⠶⢤⣀⠞⠀⠀⣼⠃⠀⠀⣀⣀⣀⣀⠀⠀⣾⠀⠀⠀⠀⣿⠀⠀
⣿⢿⣿⡀⢻⣿⠘⣿⣷⡘⣿⣧⢻⣿⡌⢿⣿⣿⡄⠀⢰⢿⠀⠀⠈⢧⠀⢠⡾⡇⠀⠀⢸⣿⣿⡉⡏⣿⣶⣧⡄⠀⠀⣴⡏⠀⠀
⣿⢸⣿⣧⠘⣿⣧⠙⣿⣧⡘⣿⣧⡻⣿⣦⡻⣿⣿⣤⡈⠃⠀⠀⠀⠸⡶⠋⢰⡇⠀⠀⠸⣿⣄⣹⡯⣵⡿⡋⠀⠀⠀⢹⡇⠀⠀
⣿⡄⢿⣿⣧⡘⣿⣷⡈⢻⣷⣬⡻⣿⣿⡿⣿⣮⣝⣻⣾⣷⣄⠀⠀⠀⢳⠔⠋⠳⡄⠀⠀⠓⠛⠒⠉⠡⠖⠁⠀⠀⠀⢹⡇⠀⠀
⣿⣷⡈⢻⣿⣷⣬⡻⣿⣶⣝⡻⣿⣮⣟⣿⣾⣿⣿⡿⠟⠉⠙⢷⡀⠀⠈⡖⠤⣄⡙⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠃⣼⠁⠀⠀
⡌⢿⣿⣦⡙⠿⣿⣿⣾⣝⣻⣿⣷⣿⣿⣿⣿⣿⠋⠀⠀⠀⠀⠀⠙⣆⠀⢹⠀⠀⠈⠻⣷⡀⠀⠀⠀⠀⠀⠀⠀⠈⣞⣼⠀⠀⠀
⣿⣦⡛⢿⣿⣶⣬⣙⠻⠿⣿⣿⣿⣿⣿⣿⣿⡝⣧⠀⠀⠀⠀⠀⠀⠘⣆⠀⢇⠀⠀⠀⢸⠃⠀⠀⠀⠀⠀⠀⠀⡾⠉⣇⡇⠀⠀
⡙⢿⣿⣶⣝⡻⣿⣿⣿⣶⣶⣿⣿⣿⣿⣿⣿⣿⡽⣧⡀⠀⠀⠀⠀⠀⠘⡆⠸⡆⠀⠀⡸⠀⠀⠀⠀⠀⠀⠀⣴⠃⠀⠹⣵⠀⠀
⣿⣦⡙⢿⣿⣿⣷⣾⣭⣝⣿⣿⣿⣿⣿⣿⣿⣿⣷⢻⣿⢦⣄⠀⠀⠀⠀⠘⡄⢹⠀⢀⠇⠀⢰⠚⡦⢠⠖⣷⢿⠀⠀⠀⢿⡆⠀
⢿⣿⣿⣷⣮⣭⣛⣻⠿⠿⠿⠿⣿⣿⣿⣿⣿⣿⣿⡜⣿⣧⠙⢷⣄⠀⠀⠀⠱⣀⡇⡸⠀⢠⠇⢀⣇⡟⢀⣟⡏⠀⠀⠀⠘⣧⠀
⠀⠉⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⣿⣿⡆⠀⠙⢢⡀⠀⠀⠀⢀⠇⠀⡞⠀⡼⡸⠀⡼⡹⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠈⠙⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠁⣿⣿⣿⡀⠀⠀⠘⢦⡀⠀⡼⠀⠐⢧⡴⠁⣇⡼⡷⠁⠀⠀⠀⠀⠀⠀⠀
⠄⠀⠀⠀⠀⠀⠈⠉⠛⠿⣿⣿⣿⣿⣿⣿⣿⠿⠃⠰⣿⣿⣿⣇⠀⠀⠀⠀⠑⣴⠃⠀⠀⡠⠔⠒⠓⣴⠁⠀⠀⠀⠀⠀⠀⠀⠀
⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⣿⡿⠟⠋⡇⠀⠀⠀⣿⣿⣿⣿⠀⠀⢀⣠⣤⠇⠀⡠⠊⠉⠉⡟⢰⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀
⢧⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⡇⠀⠀⠀⠀⢻⣿⡿⠀⢰⡉⠉⠯⣀⡴⠁⠀⠀⣼⣠⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡀⠈⠑⠲⠤⣄⣀⠀⠀⠀⠀⠀⢻⢄⡀⠀⡇⠀⠀⠀⢀⣾⡿⠃⠀⠙⠷⢤⣤⣤⣤⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡧⢄⡀⠀⠀⠀⠉⠉⠓⠒⠒⠤⠼⠤⠭⠶⠧⠤⠴⠒⠊⠉⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣷⣦⣈⠑⠦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⡄⠀⠀⢀⣀⣀⠀⠀⠀⠀⠀⠀
⣿⣿⣿⣿⣷⣬⡑⠦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⠟⠀⣼⣶⣤⣶⣿⣿⠈⠙⠲⢄⡀⠀⠀
⣿⣿⣿⣿⣿⣿⣿⣷⣌⣳⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⣿⣿⢃⣠⣾⣿⣿⣿⣿⣿⣏⣀⣀⣀⡀⠙⠲⣄